body {
  background-color: rgb(0, 0, 0);
  color: white;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  border: black solid;
  border-radius: 5px;
  background-color: rgb(30, 30, 40);
}

ul {
  padding-inline-start: 0px;
}

.menu {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 5px;
  min-height: 60px;
}

.menu-links {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-evenly;
}

.menu-item {
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0px;
}

.header-user {
  display: flex;
  justify-content: center;
  background-color: white;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 10px;
  align-self: center;
  width: 50px;
  height: 50px;
}

.header-user-img {
  object-fit: contain;
}

.add-article {
  font-size: large;
}

.article-list-wrapper {
  display: flex;
  justify-content: center;
}

.article-list,
.comment-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-list {
  max-width: 700px;
}

.topic-list, .user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comment-list {
  align-items: flex-start;
  border: solid black;
  border-radius: 5px;
  background-color: rgb(30, 30, 40);;
  padding: 10px 20px;
}

.article-card,
.topic-card,
.user-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;
  list-style: none;
  background-color:rgb(30, 30, 40);
  color: white;
  padding: 10px;
}

.topic-card {
  min-width: 300px;
}

.article-card-img {
  max-width: 80%;
  align-self: center;
}

.user-img-box {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: solid black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 25px;
}

.user-img {
  object-fit: contain;
  width: 85%;
  height: 85%;
}

.article-card-footer {
  border: solid rgb(65, 65, 65);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.comment-card {
  list-style: none;
  text-align: left;
  border-bottom: solid black;
}

form {
  width: 100%;
  flex-direction: column;
  text-align: left;
}

.comment-input {
  background-color: rgb(30, 30, 40);
  color: white;
  margin-top: 10px;
  width: 100%;
  height: 10em;
}

.red-button {
  background-color: rgb(255, 119, 119);
  margin-bottom: 10px;
}

.error-text {
  color: red;
}

.topic-card-heading {
  font-size: xx-large;
  margin: 0px;
}

.sort-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.article-list-sort {
  font-size: large;
}

